[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alaguerrano
[access "refs/for/refs/*"]
	read = group user/Alaguerrano
	push = group user/Alaguerrano
	label-Code-Review = -2..+2 group user/Alaguerrano
	label-Verified = -1..+1 group user/Alaguerrano
	rebase = group user/Alaguerrano
	removeReviewer = group user/Alaguerrano
	submit = group user/Alaguerrano
[access "refs/heads/*"]
	read = group user/Alaguerrano
	create = group user/Alaguerrano
	push = +force group user/Alaguerrano
	pushMerge = group user/Alaguerrano
[access "refs/tags/*"]
	push = +force group user/Alaguerrano
	createTag = group user/Alaguerrano
	createSignedTag = group user/Alaguerrano
